<div id="topnav" class="topnav <%= @in_pro_area ? 'topnav--pro' : '' %>">
  <ul id="navigation" class="navigation" role="navigation">

    <li class="left <%= 'selected' if controller?('public_body') && action?('list') %>">
        <%= link_to _("Make a request"), list_public_bodies_default_path %>
    </li>
    <li class="left <%= 'selected' if controller?('request') && !action?('new', 'select_authority') %>">
        <%= link_to _("Browse requests"), request_list_all_path %>
    </li>

    <li class="right <%= 'selected' if controller?('help') && action?('intro') %>">
      <%= link_to _("About"), help_intro_path %>
    </li>
    <li class="right <%= 'selected' if controller?('help') && action?('about') %>">
      <%= link_to _("Help"), help_about_path %>
    </li>
    <li class="right">
      <%= link_to _("News"), "https://news.askgov.ge/" %>
    </li>
  </ul>
</div>
