<div id="right_column_flip" class="right_column_flip">
<h2>დახმარება</h2>

<ul class="">
  <li><%= link_to_unless_current "საჯარო ინფორმაცია", help_about_path %></li>
  <li><%= link_to_unless_current "ინფორმაციის მოთხოვნა", help_requesting_path %></li>
  <li><%= link_to_unless_current "როგორ მოვიქცე, თუ", help_unhappy_path %></li>
  <li><%= link_to_unless_current "კონფიდენციალურობის პოლიტიკა", help_officers_path %></li>
    <li><%= link_to_unless_current "კონფიდენციალურობის პოლიტიკა", help_privacy_path %></li>
</ul>

</div>
