<div id="right_column_flip" class="right_column_flip">
<h2><%= _("Help") %></h2>

<ul class="">
  <li><%= link_to_unless_current _("Public information"), help_about_path %></li>
  <li><%= link_to_unless_current _("Information request"), help_requesting_path %></li>
  <li><%= link_to_unless_current _("What to do if"), help_unhappy_path %></li>
  <li><%= link_to_unless_current _("For public bodies"), help_officers_path %></li>
  <li><%= link_to_unless_current _("Privacy policy"), help_privacy_path %></li>
</ul>

</div>
