<% @title = "დაგვიკავშირდი" %>

<%= foi_error_messages_for :contact %>

<h1><%= @title %></h1>

<div id="contact_preamble" class="contact_preamble">

  <% if !flash[:notice] %>
    <h2>დაუკავშირდი საჯარო დაწესებულებას ოფიციალური ინფორმაციის მისაღებად</h2>
    <ul>
      <li>ეწვიე <a href="<%= new_request_path %>">ამ ბმულს </a> საჯარო დაწესებულებებიდან ინფორმაციის გამოსათხოვად.</li>

      <li>
      შენს შესახებ არსებული ინფორმაციის გამოთხოვა გსურს? წაიკითხე <a href="https://askgov.ge/ka/help/requesting#data_protection">დახმარების გვერდი</a>.
      </li>
    </ul>

  <% end %>

  <h2>დაუკავშირდი Askgov.ge-ს გუნდს  </h2>
  <% if !flash[:notice] %>
    <ul>
      <li>
      სანამ მოგვწერ, გთხოვთ, რომ ჯერ <a href="<%= help_about_path %>">დახმარების გვერდი</a> წაიკითხო, რადგან შეიძლება ასე უფრო სწრაფად მიიღო პასუხი შენს კითხვაზე.
      </li>

      <li>სიამოვნებით მოვისმენთ შენს გამოცდილებას ამ ვებგვერდის გამოყენებასთან დაკავშირებით. ჩვენთან დასაკავშირებლად შეგიძლია შეავსო ეს ფორმა ან გამოგვიგზავნო შეტყობინება 
      მისამართზე info@forset.ge</a>
      </li>

      <li>ჩვენ <strong>სამოქალაქო ორგანიზაცია</strong> ვართ და არ წარმოვადგენთ არანაირ სამთავრობო უწყებას.</li>
    </ul>
  <% end %>
</div>

<%= form_for :contact do |f| %>

  <% if not @user %>
    <p>
      <label class="form_label" for="contact_name"><%= _("Your name:") %></label>
      <%= f.text_field :name, :size => 20 %>
       (<%= link_to _("sign in"), signin_path(:r => request.fullpath) %>)
    </p>

    <p>
      <label class="form_label" for="contact_email"><%= _("Your email:") %></label>
      <%= f.text_field :email, :size => 20 %>
    </p>
  <% end %>

  <p>
    <label class="form_label" for="contact_subject"><%= _("Subject:") %></label>
    <%= f.text_field :subject, :size => 50 %>
  </p>

  <p>
    <label class="form_label" for="contact_message"><%= _("Message to website:") %></label>
    <%= f.text_area :message, :rows => 10, :cols => 60 %>
  </p>

  <p style="display:none;">
    <%= f.label :comment, 'Do not fill in this field' %>
    <%= f.text_field :comment %>
  </p>


  <p class="form_note">
  ჩვენ მხოლოდ <strong>ტექნიკურ პრობლემებთან</strong> ან ინფორმაციის საჯაროობასთან დაკავშირებულ საკითხებზე შეგვიძლია დაგეხმაროთ. 
  </p>
  
  <% if @recaptcha_required %>
    <%= recaptcha_tags %><br />
  <% end %>

  <div class="form_button">
    <%= hidden_field_tag(:submitted_contact_form, 1) %>
    <%= submit_tag "გამოგვიგზავნე შეტყობინება", :data => { :disable_with => "Sending..." } %>
    &lt;-- ამ ვებგვერდს ვმართავთ ჩვენ და არა მთავრობა!
  </div>

<% end %>
