<% if @highlight_words.nil?
     @highlight_words = []
end %>

<div class="request_listing">
  <div class="request_left">
    <span class="head">
      <% if event.is_incoming_message? %>
        <%= link_to highlight_words(event.info_request.title, @highlight_words), incoming_message_path(event.incoming_message) %>
      <% elsif event.is_outgoing_message? && event.event_type == 'followup_sent' %>
        <%= link_to highlight_words(event.info_request.title, @highlight_words), outgoing_message_path(event.outgoing_message) %>
      <% elsif event.is_comment? %>
        <%= link_to highlight_words(event.info_request.title, @highlight_words), comment_path(event.comment) %>
      <% else %>
        <%= link_to highlight_words(event.info_request.title, @highlight_words), request_path(event.info_request) %>
      <% end %>
    </span>

    <span class="desc">
      <%= highlight_and_excerpt(event.search_text_main(true), @highlight_words, 150) %>
      <% attachments = [] %>
      <% event.info_request.incoming_messages.each do |im|
        im.foi_attachments.each do |a|
          if a.content_type=="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" ||
            a.content_type=="application/vnd.ms-excel"
              attachments << a
          end
        end
       end %>
      <% if !attachments.empty? %>
        <% if attachments.count > 3 %>
          <% attachments[0..2].each do |a| %>
            <p style="display:flex;align-items:center"><%= attachment_link(a.incoming_message, a) %> 
            <span><%= link_to a.display_filename, attachment_path(a) %></span></p>
          <% end %>
          <p>This request has <%= attachments.count %> xlsx attachments</p>
        <% else %>
          <% attachments.each do |a| %>
            <p style="display:flex;align-items:center"><%= attachment_link(a.incoming_message, a) %> 
            <span><%= link_to a.display_filename, attachment_path(a) %></span></p>
          <% end %>
        <% end %>
      <% end %>
    </span>

  </div>

  <div class="request_right">
        <div class="requester">

          <%= event_description(event) %>


        </div>

        <div class="request-status">
            <i class="icon-standalone icon_<%= event.info_request.calculate_status %>"></i>
            <div class="statustitle">
                <%= event.info_request.display_status(cached_value_ok=true) %>
            </div>
        </div>
  </div>
</div>
