<% if @highlight_words.nil?
     @highlight_words = []
end %>

<div class="request_listing">
  <div class="request_left">
    <span class="head">
      <% if event.is_incoming_message? %>
        <%= link_to highlight_words(event.info_request.title, @highlight_words), incoming_message_path(event.incoming_message) %>
      <% elsif event.is_outgoing_message? && event.event_type == 'followup_sent' %>
        <%= link_to highlight_words(event.info_request.title, @highlight_words), outgoing_message_path(event.outgoing_message) %>
      <% elsif event.is_comment? %>
        <%= link_to highlight_words(event.info_request.title, @highlight_words), comment_path(event.comment) %>
      <% else %>
        <%= link_to highlight_words(event.info_request.title, @highlight_words), request_path(event.info_request) %>
      <% end %>
    </span>

    <span class="desc">
      <%= highlight_and_excerpt(event.search_text_main(true), @highlight_words, 150) %>
    </span>





      <%# Attachments static sample %>
      <div class="attachments">

        <ul class="list-of-attachments clearfix">
            <li class="attachment">
              <a href="#attachment_link">
                <img class="attachment__image" alt="Attachment" src="/assets/content_type/icon_image_png_large-c75d931ec8ad72b187cbffdbbe59e796dc767de342f3037f1018a09de59b02df.png">
              </a>

              <a href="#attachment_link" class="attachment__name">
                attachment.png
              </a>
            </li>

        </ul>
      </div>






  </div>

  <div class="request_right">
        <div class="requester">
            <%#= event_description(event) %>

            <%# sample static data %>
            <div class="fromto">
                <span>from:</span> <a href="#">საქართველოს იუსტიციის სამინისტრო</a>
            </div>
            <div class="fromto">
                <span>to:</span> <a href="#">Viktor Datashvili</a>
            </div>
            <div class="fromto date">
                თარიღი: <time datetime="#" title="#">24 აგვისტო 2022</time>.
            </div>

        </div>

        <div class="request-status">
            <i class="icon-standalone icon_<%= event.info_request.calculate_status %>"></i>
            <div class="statustitle">
                <%= event.info_request.display_status(cached_value_ok=true) %>
            </div>
        </div>
  </div>
</div>
