<% content_for :javascript do %>
  <script type="text/javascript">
  $(document).ready(function() {
    // Avoid triggering too often (on each keystroke) by using the debounce
    // jQuery plugin:
    // http://benalman.com/projects/jquery-throttle-debounce-plugin/
    $("#query").keypress($.debounce( 300, function() {
      // Do a type ahead search and display results
      $("#typeahead_response").load("<%= search_ahead_bodies_url %>?query="+encodeURI(this.value));
    }));

    if (!!navigator.userAgent.match(/Version\/[\d\.]+.*Safari/)) {
      $('#query').removeAttr('required');
    }
  });
  </script>
<% end %>

<% @title = _("Find an authority")  %>

<div class="filter_container clearfix">
    <h1><%= _('Find an authority') %></h1>

    <div id="authority_selection" class="authority_selection">
      <%# This view is rendered from multiple urls, hence why the form action is blank %>
      <%= form_tag "", { :id => 'search_form', :method => 'get' } do %>
        <div>
          <p>
            <%= _("First, type in the <strong>name of the public authority" \
                "</strong> you'd like information from.") %>
            <% if AlaveteliConfiguration.authority_must_respond %>
            <%= _('<strong>By law, they have to respond</strong> ' \
                    '(<a href="{{url}}">why?</a>).',
                    :url => (help_about_path(:anchor => 'whybother_them')).html_safe) %>
            <% end %>
          </p>
          <label for="query" class="visually-hidden"><%=_('Authority name')%></label>
          <%= text_field_tag :query, params[:query], { :size => 30,
                                                    :title => _('type your search term here'),
                                                    :required => true,
                                                    :placeholder => _('e.g. Ministry of Defence') } %>
          <%= hidden_field_tag :bodies, 1 %>
          <%= submit_tag _('Search') %>
        </div>
      <% end %>
    </div>

</div>


<div class="authority_sorting_box">

  <div class="sorter">

  </div>

</div>


<div id="typeahead_response" class="typeahead_response">
  <%= render :partial => 'public_body/search_ahead' %>
</div>


          



                      <div id="typeahead_response" class="typeahead_response">    <p>25 დამთხვევა</p>
                        <div class="authority_search_ahead_results_container">
                          <div id="authority_search_ahead_results">
                              
                      <div class="body_listing">
                        <div class="head body-listing__header">
                          <a href="/ka/body/saganmanatleblo_da_samecniero_inprastrukturis_ganvitarebis_saagento">საგანმანათლებლო და სამეცნიერო ინფრასტრუქტურის განვითარების სააგენტო</a>
                        </div>
                        <div class="desc body-listing__description">
                        </div>
                        <div class="bottomline body-listing__request-count">
                          1 მოთხოვნა.
                        </div>

                          <div class="make-request-quick-button body_listing__request-button">
                            <a class="link_button_green" href="/ka/new/saganmanatleblo_da_samecniero_inprastrukturis_ganvitarebis_saagento">გამოითხოვე ინფორმაცია</a>
                          </div>
                      </div>

                              
                      <div class="body_listing">
                        <div class="head body-listing__header">
                          <a href="/ka/body/kulturuli_memkvidreobis_dacvis_erovnuli_saagento">კულტურული მემკვიდრეობის დაცვის ეროვნული სააგენტო</a>
                        </div>
                        <div class="desc body-listing__description">
                        </div>
                        <div class="bottomline body-listing__request-count">
                          3 მოთხოვნა.
                        </div>

                          <div class="make-request-quick-button body_listing__request-button">
                            <a class="link_button_green" href="/ka/new/kulturuli_memkvidreobis_dacvis_erovnuli_saagento">გამოითხოვე ინფორმაცია</a>
                          </div>
                      </div>

                              
                      <div class="body_listing">
                        <div class="head body-listing__header">
                          <a href="/ka/body/sazgvao_transportis_saagento">საზღვაო ტრანსპორტის სააგენტო</a>
                        </div>
                        <div class="desc body-listing__description">
                        </div>
                        <div class="bottomline body-listing__request-count">
                          2 მოთხოვნა.
                        </div>

                          <div class="make-request-quick-button body_listing__request-button">
                            <a class="link_button_green" href="/ka/new/sazgvao_transportis_saagento">გამოითხოვე ინფორმაცია</a>
                          </div>
                      </div>

                              
                      <div class="body_listing">
                        <div class="head body-listing__header">
                          <a href="/ka/body/saxmeleto_transportis_saagento">სახმელეთო ტრანსპორტის სააგენტო</a>
                        </div>
                        <div class="desc body-listing__description">
                        </div>
                        <div class="bottomline body-listing__request-count">
                          1 მოთხოვნა.
                        </div>

                          <div class="make-request-quick-button body_listing__request-button">
                            <a class="link_button_green" href="/ka/new/saxmeleto_transportis_saagento">გამოითხოვე ინფორმაცია</a>
                          </div>
                      </div>

                              
                      <div class="body_listing">
                        <div class="head body-listing__header">
                          <a href="/ka/body/saxelmcipo_konebis_erovnuli_saagento">სახელმწიფო ქონების ეროვნული სააგენტო</a>
                        </div>
                        <div class="desc body-listing__description">
                        </div>
                        <div class="bottomline body-listing__request-count">
                          3 მოთხოვნა.
                        </div>

                          <div class="make-request-quick-button body_listing__request-button">
                            <a class="link_button_green" href="/ka/new/saxelmcipo_konebis_erovnuli_saagento">გამოითხოვე ინფორმაცია</a>
                          </div>
                      </div>

                              
                      <div class="body_listing">
                        <div class="head body-listing__header">
                          <a href="/ka/body/standartebisa_da_metrologiis_erovnuli_saagento">სტანდარტებისა და მეტროლოგიის ეროვნული სააგენტო</a>
                        </div>
                        <div class="desc body-listing__description">
                        </div>
                        <div class="bottomline body-listing__request-count">
                          0 მოთხოვნა.
                        </div>

                          <div class="make-request-quick-button body_listing__request-button">
                            <a class="link_button_green" href="/ka/new/standartebisa_da_metrologiis_erovnuli_saagento">გამოითხოვე ინფორმაცია</a>
                          </div>
                      </div>

                              
                      <div class="body_listing">
                        <div class="head body-listing__header">
                          <a href="/ka/body/samokalako_aviaciis_saagento">სამოქალაქო ავიაციის სააგენტო</a>
                        </div>
                        <div class="desc body-listing__description">
                        </div>
                        <div class="bottomline body-listing__request-count">
                          2 მოთხოვნა.
                        </div>

                          <div class="make-request-quick-button body_listing__request-button">
                            <a class="link_button_green" href="/ka/new/samokalako_aviaciis_saagento">გამოითხოვე ინფორმაცია</a>
                          </div>
                      </div>

                              
                      <div class="body_listing">
                        <div class="head body-listing__header">
                          <a href="/ka/body/teknikuri_da_samsheneblo_zedamxedvelobis_saagento">ტექნიკური და სამშენებლო ზედამხედველობის სააგენტო</a>
                        </div>
                        <div class="desc body-listing__description">
                        </div>
                        <div class="bottomline body-listing__request-count">
                          3 მოთხოვნა.
                        </div>

                          <div class="make-request-quick-button body_listing__request-button">
                            <a class="link_button_green" href="/ka/new/teknikuri_da_samsheneblo_zedamxedvelobis_saagento">გამოითხოვე ინფორმაცია</a>
                          </div>
                      </div>

                              
                      <div class="body_listing">
                        <div class="head body-listing__header">
                          <a href="/ka/body/inovaciebis_da_teknologiebis_saagento">ინოვაციების და ტექნოლოგიების სააგენტო</a>
                        </div>
                        <div class="desc body-listing__description">
                        </div>
                        <div class="bottomline body-listing__request-count">
                          3 მოთხოვნა.
                        </div>

                          <div class="make-request-quick-button body_listing__request-button">
                            <a class="link_button_green" href="/ka/new/inovaciebis_da_teknologiebis_saagento">გამოითხოვე ინფორმაცია</a>
                          </div>
                      </div>

                              
                      <div class="body_listing">
                        <div class="head body-listing__header">
                          <a href="/ka/body/navtobisa_da_gazis_saxelmcipo_saagento">ნავთობისა და გაზის სახელმწიფო სააგენტო</a>
                        </div>
                        <div class="desc body-listing__description">
                        </div>
                        <div class="bottomline body-listing__request-count">
                          1 მოთხოვნა.
                        </div>

                          <div class="make-request-quick-button body_listing__request-button">
                            <a class="link_button_green" href="/ka/new/navtobisa_da_gazis_saxelmcipo_saagento">გამოითხოვე ინფორმაცია</a>
                          </div>
                      </div>

                              
                      <div class="body_listing">
                        <div class="head body-listing__header">
                          <a href="/ka/body/ciagis_erovnuli_saagento">წიაღის ეროვნული სააგენტო</a>
                        </div>
                        <div class="desc body-listing__description">
                        </div>
                        <div class="bottomline body-listing__request-count">
                          1 მოთხოვნა.
                        </div>

                          <div class="make-request-quick-button body_listing__request-button">
                            <a class="link_button_green" href="/ka/new/ciagis_erovnuli_saagento">გამოითხოვე ინფორმაცია</a>
                          </div>
                      </div>

                              
                      <div class="body_listing">
                        <div class="head body-listing__header">
                          <a href="/ka/body/garemos_erovnuli_saagento">გარემოს ეროვნული სააგენტო</a>
                        </div>
                        <div class="desc body-listing__description">
                        </div>
                        <div class="bottomline body-listing__request-count">
                          15 მოთხოვნა.
                        </div>

                          <div class="make-request-quick-button body_listing__request-button">
                            <a class="link_button_green" href="/ka/new/garemos_erovnuli_saagento">გამოითხოვე ინფორმაცია</a>
                          </div>
                      </div>

                              
                      <div class="body_listing">
                        <div class="head body-listing__header">
                          <a href="/ka/body/daculi_teritoriebis_saagento">დაცული ტერიტორიების სააგენტო</a>
                        </div>
                        <div class="desc body-listing__description">
                        </div>
                        <div class="bottomline body-listing__request-count">
                          7 მოთხოვნა.
                        </div>

                          <div class="make-request-quick-button body_listing__request-button">
                            <a class="link_button_green" href="/ka/new/daculi_teritoriebis_saagento">გამოითხოვე ინფორმაცია</a>
                          </div>
                      </div>

                              
                      <div class="body_listing">
                        <div class="head body-listing__header">
                          <a href="/ka/body/erovnuli_satqeo_saagento">ეროვნული სატყეო სააგენტო</a>
                        </div>
                        <div class="desc body-listing__description">
                        </div>
                        <div class="bottomline body-listing__request-count">
                          6 მოთხოვნა.
                        </div>

                          <div class="make-request-quick-button body_listing__request-button">
                            <a class="link_button_green" href="/ka/new/erovnuli_satqeo_saagento">გამოითხოვე ინფორმაცია</a>
                          </div>
                      </div>

                              
                      <div class="body_listing">
                        <div class="head body-listing__header">
                          <a href="/ka/body/veluri_bunebis_erovnuli_saagento">ველური ბუნების ეროვნული სააგენტო</a>
                        </div>
                        <div class="desc body-listing__description">
                        </div>
                        <div class="bottomline body-listing__request-count">
                          0 მოთხოვნა.
                        </div>

                          <div class="make-request-quick-button body_listing__request-button">
                            <a class="link_button_green" href="/ka/new/veluri_bunebis_erovnuli_saagento">გამოითხოვე ინფორმაცია</a>
                          </div>
                      </div>

                              
                      <div class="body_listing">
                        <div class="head body-listing__header">
                          <a href="/ka/body/gvinis_erovnuli_saagento">ღვინის ეროვნული სააგენტო</a>
                        </div>
                        <div class="desc body-listing__description">
                        </div>
                        <div class="bottomline body-listing__request-count">
                          7 მოთხოვნა.
                        </div>

                          <div class="make-request-quick-button body_listing__request-button">
                            <a class="link_button_green" href="/ka/new/gvinis_erovnuli_saagento">გამოითხოვე ინფორმაცია</a>
                          </div>
                      </div>

                              
                      <div class="body_listing">
                        <div class="head body-listing__header">
                          <a href="/ka/body/sursatis_erovnuli_saagento">სურსათის ეროვნული სააგენტო</a>
                        </div>
                        <div class="desc body-listing__description">
                        </div>
                        <div class="bottomline body-listing__request-count">
                          2 მოთხოვნა.
                        </div>

                          <div class="make-request-quick-button body_listing__request-button">
                            <a class="link_button_green" href="/ka/new/sursatis_erovnuli_saagento">გამოითხოვე ინფორმაცია</a>
                          </div>
                      </div>

                              
                      <div class="body_listing">
                        <div class="head body-listing__header">
                          <a href="/ka/body/sasoplo_sameurneo_kooperativebis_ganvitarebis_saagento">სასოფლო-სამეურნეო კოოპერატივების განვითარების სააგენტო</a>
                        </div>
                        <div class="desc body-listing__description">
                        </div>
                        <div class="bottomline body-listing__request-count">
                          1 მოთხოვნა.
                        </div>

                          <div class="make-request-quick-button body_listing__request-button">
                            <a class="link_button_green" href="/ka/new/sasoplo_sameurneo_kooperativebis_ganvitarebis_saagento">გამოითხოვე ინფორმაცია</a>
                          </div>
                      </div>

                              
                      <div class="body_listing">
                        <div class="head body-listing__header">
                          <a href="/ka/body/saxelmcipo_zrunvisa_da_trepikingis_msxverplta_dazaralebulta_daxmarebis_saagento">სახელმწიფო ზრუნვისა და ტრეფიკინგის მსხვერპლთა, დაზარალებულთა დახმარების სააგენტო</a>
                        </div>
                        <div class="desc body-listing__description">
                        </div>
                        <div class="bottomline body-listing__request-count">
                          5 მოთხოვნა.
                        </div>

                          <div class="make-request-quick-button body_listing__request-button">
                            <a class="link_button_green" href="/ka/new/saxelmcipo_zrunvisa_da_trepikingis_msxverplta_dazaralebulta_daxmarebis_saagento">გამოითხოვე ინფორმაცია</a>
                          </div>
                      </div>

                              
                      <div class="body_listing">
                        <div class="head body-listing__header">
                          <a href="/ka/body/socialuri_momsaxurebis_saagento">სოციალური მომსახურების სააგენტო</a>
                        </div>
                        <div class="desc body-listing__description">
                        </div>
                        <div class="bottomline body-listing__request-count">
                          17 მოთხოვნა.
                        </div>

                          <div class="make-request-quick-button body_listing__request-button">
                            <a class="link_button_green" href="/ka/new/socialuri_momsaxurebis_saagento">გამოითხოვე ინფორმაცია</a>
                          </div>
                      </div>

                              
                      <div class="body_listing">
                        <div class="head body-listing__header">
                          <a href="/ka/body/samedicino_da_parmacevtuli_sakmianobis_regulirebis_saagento">სამედიცინო და ფარმაცევტული საქმიანობის რეგულირების სააგენტო</a>
                        </div>
                        <div class="desc body-listing__description">
                        </div>
                        <div class="bottomline body-listing__request-count">
                          4 მოთხოვნა.
                        </div>

                          <div class="make-request-quick-button body_listing__request-button">
                            <a class="link_button_green" href="/ka/new/samedicino_da_parmacevtuli_sakmianobis_regulirebis_saagento">გამოითხოვე ინფორმაცია</a>
                          </div>
                      </div>

                              
                      <div class="body_listing">
                        <div class="head body-listing__header">
                          <a href="/ka/body/saxelmcipo_servisebis_ganvitarebis_saagento">სახელმწიფო სერვისების განვითარების სააგენტო</a>
                        </div>
                        <div class="desc body-listing__description">
                        </div>
                        <div class="bottomline body-listing__request-count">
                          1 მოთხოვნა.
                        </div>

                          <div class="make-request-quick-button body_listing__request-button">
                            <a class="link_button_green" href="/ka/new/saxelmcipo_servisebis_ganvitarebis_saagento">გამოითხოვე ინფორმაცია</a>
                          </div>
                      </div>

                              
                      <div class="body_listing">
                        <div class="head body-listing__header">
                          <a href="/ka/body/sajaro_reestris_erovnuli_saagento">საჯარო რეესტრის ეროვნული სააგენტო</a>
                        </div>
                        <div class="desc body-listing__description">
                        </div>
                        <div class="bottomline body-listing__request-count">
                          8 მოთხოვნა.
                        </div>

                          <div class="make-request-quick-button body_listing__request-button">
                            <a class="link_button_green" href="/ka/new/sajaro_reestris_erovnuli_saagento">გამოითხოვე ინფორმაცია</a>
                          </div>
                      </div>

                              
                      <div class="body_listing">
                        <div class="head body-listing__header">
                          <a href="/ka/body/danashaulis_prevenciis_arasapatimro_sasjelta_agsrulebisa_da_probaciis_erovnuli_saagento">დანაშაულის პრევენციის, არასაპატიმრო სასჯელთა აღსრულებისა და პრობაციის ეროვნული სააგენტო</a>
                        </div>
                        <div class="desc body-listing__description">
                        </div>
                        <div class="bottomline body-listing__request-count">
                          4 მოთხოვნა.
                        </div>

                          <div class="make-request-quick-button body_listing__request-button">
                            <a class="link_button_green" href="/ka/new/danashaulis_prevenciis_arasapatimro_sasjelta_agsrulebisa_da_probaciis_erovnuli_saagento">გამოითხოვე ინფორმაცია</a>
                          </div>
                      </div>

                              
                      <div class="body_listing">
                        <div class="head body-listing__header">
                          <a href="/ka/body/shss_momsaxurebis_saagento">შსს მომსახურების სააგენტო</a>
                        </div>
                        <div class="desc body-listing__description">
                        </div>
                        <div class="bottomline body-listing__request-count">
                          5 მოთხოვნა.
                        </div>

                          <div class="make-request-quick-button body_listing__request-button">
                            <a class="link_button_green" href="/ka/new/shss_momsaxurebis_saagento">გამოითხოვე ინფორმაცია</a>
                          </div>
                      </div>

                          </div>
                          <div role="navigation" aria-label="დანომვრა" class="pagination"><span class="previous_page disabled" aria-disabled="true">← წინა</span> <em class="current" aria-label="გვერდი 1" aria-current="page">1</em> <a rel="next" aria-label="გვერდი 2" href="/ka/select_authority?page=2&amp;pro=0&amp;query=%E1%83%A1%E1%83%90%E1%83%90%E1%83%92%E1%83%94%E1%83%9C%E1%83%A2%E1%83%9D">2</a> <a class="next_page" rel="next" href="/ka/select_authority?page=2&amp;pro=0&amp;query=%E1%83%A1%E1%83%90%E1%83%90%E1%83%92%E1%83%94%E1%83%9C%E1%83%A2%E1%83%9D">შემდეგი →</a></div>
                        </div>
                      </div>













<div id="select_authority_help" class="select_authority_help">
  <%= render :partial => 'request/select_authority_help' %>
</div>
